<mat-toolbar class="nav-bar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            </button>
        <span>JUSTEAT</span>
</mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
 
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field>
    <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
    <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
         Username is required
    </mat-error>
    </mat-form-field>
    
    <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="password">
    <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
         Password is required
    </mat-error>
    </mat-form-field>
    <div class="error-message" *ngIf="invalidCredentials">
        Invalid Admin Credentials
    </div>
    
    <button mat-raised-button color="primary" type="submit">Login</button>
    </form>